@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 28px;
    margin-left: 150px;
}



.Login{
    border-radius:50px ;
    padding: 30px;
    width: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: Karla;
    border-color: #0062d1;
    border-style: solid;
    border-width: 1px;
    height: 500px;
}

.cadastro{
    border-radius:50px ;
    padding: 15px;
    width: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: Karla;
    border-color: #0062d1;
    border-style: solid;
    border-width: 1px;
    height: 550px;
}

.cadastro p{
    font-weight: 700;
    text-align: center;
}


.Login p{
    font-weight: 700;
    text-align: center;
}

.input{
    width: 80%;
    height: 26px;
    border-radius: 8px;
    border-width: 1px;
}

.inputCadastro{
    width: 80%;
    height: 26px;
    border-radius: 8px;
    border-width: 1px;
}

button{
    width: 80%;
    height: 30px;
    border-radius: 8px;
    color: white;
    background-color: #0062d1;
    font-size: 17px;
}



:root {
    --tamanho-footer: 65px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-footer));
}


.login .principal {
    display: flex;
    flex-direction: row;
    height: var(--tamanho-login);
    justify-content: space-evenly;
    align-items: start;
    margin-left: 300px;

}

.cadastro .principal {
    display: flex;
    flex-direction: row;
    height: var(--tamanho-login);
    justify-content: space-evenly;
    align-items: start;
    margin-left: 300px;

}

.card-login {
    background-color: #e5e5e5;
    padding: 0 90px 20px 90px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.footer h1{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-left: 1000px ;
}

.principal2{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-right: 200px;
    
}

.imagem {
    display: flex;
    margin-right: 170px;
    height: 500px;
    width: 350px;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 200px;
}

footer {
    background-color: #010415;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* Estiliza o rodapé da página, centralizando o conteúdo e aplicando cor de fundo e altura fixa */

footer .logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
}
/* Posiciona a logo no rodapé à esquerda e a alinha verticalmente */

footer .logo img {
    width: 100px;
    height: auto;
    margin-right: 15px;
    margin-top: 5px;
}
/* Define o tamanho da logo no rodapé e o espaçamento em relação ao texto */

footer b {
    margin: 0;
    text-align: center;
    flex: 1;
    font-family: 'Karla', sans-serif;
}
/* Centraliza o texto "Faça parte da nossa comunidade!" no rodapé */

